.numberCircle {

    width: 230px;
    line-height: 230px;
    border-radius: 50%;
    text-align: center;
    font-size: 60px;
    background-color: gray;
    border: 2px solid #666;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}