.logout_button{
  text-align: right;
  padding: 10px;
}

.lista{

  height: 750px;
  overflow: scroll;
}

.addtable{

  display: block;
}

.spatiu{

  width: 200px;
  height: 200px;
  background-color: green;
}

.table{

  width: 49%;
  display: inline-block;
}
