
.square {
    position: absolute;
    text-align: center;
    background: grey;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    transition: transform 2s linear;
    width: 25px;
    height: 25px;
    /* border-radius: 50%; */
    color: white;
    left: 0;
  }
  

