.title{

    text-align: center;
}

.statistics1{

    width: 530px;
    height: 530px;
    background-color:#F0F0F0;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:20px;
}

.statistics2{

    width: 530px;
    height: 530px;
    align-content: center;
    background-color:#F0F0F0;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.statistics3{

    width: 1000px;
    background-color:#F0F0F0;
    margin-top: 10px;
}
