<head>

    <link rel="stylesheet" href="/styles/app.css" />
</head>

<div class="logout">
    <form method="post" action="/">
        <button class="logoutbutton" type="submit">Log out</button>
    </form>
</div>